.container {
    width: 100%;
    height: 100vh; /* تمام ارتفاع صفحه */
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .frame {
    flex: 1; /* پر کردن فضای باقی‌مانده */
    width: 100%;
    height: 100%;
    border: none;
  }
  