@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.green {
  color: $green;
}

.red {
  color: $red;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}

.purple {
  color: $purple;
}
