@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.examOrderListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.singleItem {
  display: flex;
  flex-direction: row;
  border: 1.5px solid $lightGray;
  padding: 10px;
  gap: 10px;
  box-shadow: none;

  > div {
    display: flex;
  }

  > div:last-child {
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    flex: 1;
  }

  > div:first-child {
    align-items: center;
  }

  button {
    flex: none;
    font-size: 12px;
  }
  img {
    border-radius: 15px;
    height: 100px;
    width: auto;
    aspect-ratio: 1/1;
  }
  .noImage {
    background: white;
    border: 1px solid $lightGray;
    padding: 12px;
  }

  &Price {
    font-size: 14px;
    color: $purple;
  }

  &Description {
    display: flex;
    flex-direction: column;
    gap: 3px;
    span {
      color: $gray;
      font-weight: 400;
    }

    h3 {
      font-weight: 700;
      font-size: 15px;
    }
  }
}

.singleItemAccessButtons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 10px;

  button {
    flex: none;
    min-width: 80px;
    a {
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .singleItem {
    button {
      font-size: 10px;
    }
  }
}
