@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.cartButton {
  margin-right: 10px;
  > span {
    display: flex;
    align-items: center;
    background: #fff;
    border: 2px solid $red;
    padding: 0 space(2);
    font-size: 13px;
    font-weight: 600;
    border-radius: radius(2);
    line-height: 36px;
    color: $red;
    cursor: pointer;
    svg {
      margin-right: space(2);
    }
    small {
      background-color: #fff;
      color: $orange;
      border-radius: radius(1);
      padding: 0 space(2);
      font-size: 16px;
      font-weight: 600;
      line-height: 25px;
      margin-left: space(2);
    }
  }
  &.hasItem {
    > span {
      background: $header-nav-bg;
      border-color: #fff;
      color: #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }
}

@media (max-width: 768px) {
  .cartButton {
    > span {
      padding: space(1);
      span {
        display: none;
      }
    }
  }
}
