@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.sidePanel {
  width: 400px;
  height: 100vh;
  background: #fff;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  &CloseToggle {
    display: flex;
    position: fixed;
    right: space(3);
    top: space(3);
    z-index: 10;

    svg {
      width: 36px;
      height: 36px;
      padding: space(1.5);
      border-radius: radius(1);
      cursor: pointer;
      color: #333;
      transform: unset;
    }
  }

  &Tabs {
    background-color: #f2f2f2;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
    z-index: 100;

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        flex: 1 1 auto;
        text-align: center;
        line-height: 50px;
        font-size: small;
        cursor: pointer;
        position: relative;
        transition: 0.15s;
        padding: 0 5px;

        &:before {
          content: "";
          position: absolute;
          transition: 0.15s;
          height: 6px;
          left: 2px;
          right: 2px;
          bottom: -3px;
          background-color: transparent;
          border-radius: 3px;
        }

        &.active {
          font-weight: 600;
          cursor: default;

          &:before {
            background-color: $base-green;
          }
        }
        &.disabled {
          opacity: 0.3;
          cursor: default;
        }
      }
    }
  }

  &TabContents {
    // background-color: #f2f2f2;
    padding: space(4) space(3);
    flex: 0 1 100%;
    height: calc(100% - 50px);
  }
}

html body .suffixButton {
  width: auto;
  height: 45px;
  padding: 0 10px;
}

@media (max-width: 576px) {
  .sidePanel {
    width: 100%;
  }
}
