.metadata {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: #666;
  font-size: 0.72rem;
  width: 100%;
  .metadataWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .metadataItem {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #8b8b8b;
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .metadata {
    font-size: 0.75rem;
  }
}

@media (max-width: 425px) {
  .metadata {
    font-size: 0.6rem;
    gap: 1rem;
  }
}
