@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.checkoutWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: space(4);

  > div {
    width: 100%;
  }
}

.title {
  display: flex;
  margin-bottom: space(2);
  padding-bottom: space(2);
  border-bottom: 1px solid $gray;
  line-height: 26px;

  span {
    margin-left: auto;
    font-weight: 800;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .checkoutWrapper {
    > div {
      flex: 0 0 32%;
      max-width: 32%;
      margin-left: 10px;
      &:last-child {
        margin-left: 0;
      }
    }
  }

  .mobileView {
    > div {
      flex: auto;
      max-width: 100%;
      margin-left: 0;
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
