@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.checkoutWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: space(4);
  padding-top: space(4);

  > div {
    width: 100%;
  }
}

.title {
  display: flex;
  margin-bottom: space(2);
  padding-bottom: space(2);
  border-bottom: 1px solid $gray;
  line-height: 26px;

  span {
    margin-left: auto;
    font-weight: 800;
    font-size: 14px;
  }
}

.createOrderButton {
  flex: none;
  width: 100%;
}

.checkoutModuleWrapper {
  display: flex;
  flex-direction: column;
  gap: space(4);
}

.payChildrenWrapper {
  display: flex;
  flex-direction: column;
  gap: space(4);
  margin-top: space(10);
  height: 100%;
  justify-content: space-between;
}

@media (max-width: 575px) {
  .checkoutHeader {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .checkoutWrapper {
    flex-wrap: nowrap;

    > div {
      flex: 0 0 32%;
      max-width: 32%;
      margin-left: 10px;
      &:last-child {
        margin-left: 0;
      }
    }
  }

  .mobileView {
    margin-top: 20px;
    flex-wrap: wrap;

    > div {
      flex: auto;
      max-width: 100%;
      margin-left: 0;
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
