@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

html .sidePanelHeaderContainer .baseColor {
  background: #8fcc18;
}

.sidePanelHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;

  .sidePanelHeader {
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    background: var(--button-bg, #{$button-bg-red});
    width: 100%;

    .headerButtonContainer {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      border-radius: radius(3);

      button {
        flex-direction: row;
        background-color: #fff;
        margin: 0 0 0 space(2);
        border: unset;
        border-radius: radius(3);
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        color: black;
        gap: 5px;

        &:first-of-type {
          margin: 0;
        }

        &:active,
        &:focus {
          outline: none;
        }

        img,
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    > span {
      font-weight: 800;
      font-size: 20px;
      color: #fff;
      max-width: calc(100% - 100px);

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .headerButton {
      width: 45px;
    }
  }

  .sidePanelHeaderChildren {
    width: 100%;
    // padding: 0 10px;
    // > div {
    //   margin: 10px 0;
    // }
  }
}
