@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

html .deActive {
  border-color: $gray;
  color: $gray;
  cursor: default;

  svg {
    fill: $gray;
  }
  span {
    color: $gray;
  }
}

.accordion {
  $accordion: &;

  border-radius: radius(3);
  border: 2px solid var(--app-base, $base-green);
  padding: space(1.5) space(2);
  cursor: pointer;
  display: flex;
  align-items: center;

  &Title {
    display: flex;
    align-items: center;
    width: 100%;

    span {
      font-weight: 600;
      color: black;
      text-align: center;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    svg {
      margin-right: auto;
      fill: var(--app-base, $base-green);
    }
  }

  &Content {
    display: none;

    &--spacing {
      padding: space(2);
    }
  }

  &.active {
    > #{$accordion}Content {
      display: block;
    }

    > #{$accordion}Title {
      svg {
        transform: rotateX(180deg);
      }
    }
  }
}
