@import "@/assets/styles/variables";
@import "@/assets/styles/functions";

.blogSlider {
  padding: space(10) 0;

  // Removed .container override to align with global grid.scss

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: space(4);

    &:before {
      display: none;
    }

    &Title {
      padding-left: 0;
      background-color: transparent;

      span {
        line-height: 1.2;
        font-size: 1.25rem;
        font-weight: 800;
      }
    }

    &Link {
      margin-right: 0;
      padding-right: 0;
      background-color: transparent;

      a {
        display: flex;
        align-items: center;
        gap: 4px;
        line-height: 1;
        padding: 0;
        border-radius: 0;
        font-size: 0.9rem;
        font-weight: 500;
        color: $gray;
        background-color: transparent;
      }
    }
  }

  &Slider {
    position: relative;
     padding: 0 6px;
    &:before {
      position: absolute;
      content: "";
      // left: space(-3.75);
      top: 0;
      bottom: 0;
      z-index: 100;
      // width: space(3.75);
      background-color: #fff;
    }
    :global {
      .swiper {
        padding: space(2.5) space(3.75) space(4);
        margin: space(-2.5) space(-3.75) space(-4);
      }
    }
  }
}

@media (max-width: 768px) {
  .blogSlider {
    &Header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: space(4);

      &:before {
        display: none;
      }

      &Title {
        padding-left: 0;
        background-color: transparent;

        span {
          line-height: 1.2;
          font-size: 1.1rem;
          font-weight: 800;
        }
      }

      &Link {
        margin-right: 0;
        padding-right: 0;
        background-color: transparent;

        a {
          display: flex;
          align-items: center;
          gap: 4px;
          line-height: 1;
          padding: 0;
          border-radius: 0;
          font-size: 0.7rem;
          font-weight: 500;
          color: $gray;
          background-color: transparent;
        }
      }
    }

    &Slider {
      &:before {
        display: none;
      }
    }
    :global {
      .swiper-slide {
        width: 45% !important;
        max-width: 260px !important;
      }
    }
  }
}
