@import "@/assets/styles/variables";

.card {
  background: white;
  border-radius: 16px;
  padding: 10px;
  display: flex;
  align-items: stretch;
  gap: 16px;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  &:active {
    transform: scale(0.98);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.logoSection {
  display: flex;
  flex-direction: column;
  align-items: center !important; // فقط این ستون وسط‌چین عمودی / افقی نسبت به خودش
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
  }
}

.infoSection {
  flex: 1;
  min-width: 0; // اجازه بده متن داخل خودش بپیچه، نه اینکه از ستون کناری عبور کند
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100px;
  text-align: right;
}

.actionSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  width: 100px; // عرض ثابت برای ستون تگ + دکمه
  flex-shrink: 0; // اجازه نده این ستون کوچک‌تر شود
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin: 0 0 4px 0;
  white-space: normal; // اجازه رفتن به خط بعد
  word-wrap: break-word;
}

.branch {
  font-size: 13px;
  color: #777;
  margin-bottom: 6px;
  white-space: normal; // اجازه رفتن به خط بعد
  word-wrap: break-word;
}
.prices {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.mainPrice,
.finalPrice {
  white-space: nowrap;
}

.mainPrice {
  text-decoration: line-through;
  color: #777;

}
.finalPrice {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.badgesRow {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.badge {
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 999px;
  background: #f3f7ff;
  color: #333;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.badgeWarning {
  background: #fff7e6;
  color: #c27a00;
}

.buyButton {
  background: $green;
  color: white;
  padding: 6px 18px;
  border-radius: 12px;
  border: none;
  font-size: 13px;
  cursor: pointer;
}
