@import '@/assets/styles/functions';
@import '@/assets/styles/variables';

.callbackDetail {
    &Alert {
        display: flex;
        align-items: center;
        padding: space(2);
        background-color: #00ae00;
        border-radius: radius(2);
        font-weight: 600;
        font-size: 13px;
        color: #fff;
        margin-bottom: space(6);
        &Failed{
        background-color: $blue;
        }
        svg {
            fill: #fff;
            width: 30px;
            margin-left: space(2);
        }
    }

    &Detail {
        padding-right: space(5);

        >span {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: space(1);
            display: block;
            line-height: 30px;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 14px;
            font-weight: 500;
            line-height: 30px;

            li {
                margin-bottom: space(1);
                display: flex;
                align-items: center;

                span {
                    &:first-of-type {
                        color: $gray;
                        margin-left: space(1);
                    }

                    &:last-of-type {
                        display: flex;
                        align-items: center;

                        svg {
                            width: 25px;
                            cursor: pointer;
                            margin-right: space(3);
                        }
                    }
                }
            }
        }
    }
}