# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
.idea
apps/base/public/sw.js
apps/learn/public/sw.js
apps/market/public/sw.js
apps/exam/public/sw.js
apps/clinic/public/sw.js
apps/pharmacy/public/sw.js
apps/tools/public/sw.js
apps/insurance/public/sw.js
apps/download/public/sw.js

apps/base/public/workbox-*.js
apps/learn/public/workbox-*.js
apps/market/public/workbox-*.js
apps/exam/public/workbox-*.js
apps/clinic/public/workbox-*.js
apps/pharmacy/public/workbox-*.js
apps/tools/public/workbox-*.js
apps/insurance/public/workbox-*.js
apps/download/public/workbox-*.js
