@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/functions";

.cartItem {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray;
  padding: space(2) 0;
  position: relative;
  flex-wrap: wrap;

  &Image {
    flex: 0 0 75px;
    width: 75px;
    height: 75px;
    border: 1px solid var(--app-base, $base-green);
    border-radius: radius(2);

    img {
      border-radius: radius(2);
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &Content {
    flex: 1;
    padding-right: space(3);
    display: flex;
    flex-direction: column;
  }

  &Title {
    a {
      text-align: right;
      color: #000;
      line-height: 17px;
      font-weight: 600;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  &Footer {
    display: flex;
    margin-top: auto;
    align-items: flex-end;
  }

  &Price {
    div {
      &:first-of-type:not(:only-child) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-size: 11px;
        > small {
          background: var(--button-bg, $button-bg-green);
          padding: 0 space(2);
          font-size: 11px;
          border-radius: radius(1);
          line-height: 14px;
          margin-right: space(1);
          color: #fff;
        }

        span {
          color: $gray;
          text-decoration: line-through;

          small {
            margin-right: space(1);
          }
        }
      }

      &:last-of-type {
        font-size: 17px;
        line-height: 22px;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: black;

        small {
          margin-right: space(1);
        }
      }
    }
  }

  &Button {
    background: var(--button-bg, $button-bg-green);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color: #fff;
    border-radius: radius(2);
    margin-right: auto;
    font-size: 14px;
    padding: 0 space(1);

    span {
      width: 25px;
      text-align: center;
    }

    button {
      color: #fff;
      background-color: unset;
      border: unset;
      padding: 0;
      margin: 0;
      width: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 25px;
      cursor: pointer;

      &:hover,
      &:active,
      &:focus {
        outline: unset;
      }
    }
  }

  &Variants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;

    span {
      background-color: #f8f8f8;
      border-radius: 50px;
      color: #88898d;
      line-height: 18px;
      padding: 0 10px;
      margin-left: 5px;
      margin-top: 5px;
      font-size: 10px;
    }
  }
}

.cartItemInstallmentProvider {
  position: absolute;
  top: 8px;
  left: 0;
  height: 20px;
  width: auto;
}

.cartCourseItem {
  .cartItemImage {
    width: auto;
    flex: 0 0 auto;
    aspect-ratio: 16 / 9;
    border-color: $red;
  }
}
