@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.nav {
  $nav: &;

  &Toggle {
    cursor: pointer;
    color: #fff;
    width: 40px;
    height: 40px;
  }

  &Image {
    border-right: 1px solid $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: space(8);
    position: relative;
    width: 200px;
    min-height: 200px;

    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }
  }

  > ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 -#{space(3)} 0 0;

    > li {
      display: flex;
      align-items: center;

      a {
        display: block;
        line-height: 50px;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        padding: 0 space(3);
        white-space: nowrap;
        position: relative;
      }
      &.hasChild {
        > a {
          position: relative;
          z-index: 5;

          &:before {
            content: '';
            display: none;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            bottom: -15px;
            border-bottom: 25px solid #fff;
            border-right: 75px solid transparent;
            border-left: 75px solid transparent;
            z-index: 2;
          }
          &::after {
            content: '';
            display: none;
            position: absolute;
            box-shadow: rgba(0, 0, 0, 0.5) 0px -11px 16px -14px;
            right: 50%;
            transform: translateX(50%);
            width: 127px;
            bottom: -35px;
            border-radius: 50%;
            z-index: -1;
            height: 34px;
          }
        }
      }

      &:last-of-type {
        margin-left: unset;
      }

      > ul {
        position: absolute;
        top: 130%;
        right: -70px;
        background-color: #fff;
        border-radius: radius(6);
        padding: space(8);
        z-index: 500;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        list-style: none;
        column-count: 2;
        max-width: calc(100% + 140px);
        display: flex;
        flex-wrap: wrap;
        z-index: 3;

        svg {
          display: none;
        }

        > li {
          margin-bottom: space(3);
        }

        li {
          list-style: none;

          a {
            color: $orange;
            line-height: 25px;
            font-size: 14px;
            font-weight: 600;
          }

          ul {
            padding-right: space(3);

            a {
              color: $gray;
              font-size: 13px;
              font-weight: 400;

              &:hover {
                color: $orange;
              }
            }
          }
        }
      }
      &.menuHover {
        background-color: rgba(255, 255, 255, 0.15);
        > a {
          &:before,
          &:after {
            display: block;
          }
        }
        > ul {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.mobileNav {
  $nav: &;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 0;
  background-color: #fff;
  padding: space(5) space(2);
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;

  &Toggle {
    display: block;
  }

  &Image {
    display: none;
  }

  &Header {
    position: relative;
    margin-bottom: space(3);
    h6 {
      text-align: center;
      font-size: 18px;
    }

    svg {
      position: absolute;
      top: 50%;
      width: 22px;
      height: 22px;
      transform: translateY(-50%);
      right: 5px;
      cursor: pointer;
    }
  }

  li {
    position: relative;
    border-top: 1px solid #eee;
    margin: 0;
    padding-right: 10px;
    padding-left: 70px;
    cursor: pointer;
    > div {
      position: absolute;
      left: 0;
      top: space(2.5);
      cursor: pointer;
      margin-right: 5px;
      width: 70px;
      text-align: left;
      svg {
        width: 30px;
        height: 30px;
        padding: space(1.5);
        background-color: #eee;
        border-radius: radius(1);
        color: #242424;
        transform: rotate(90deg);
      }
    }
    span {
      line-height: 50px;
      display: block;
    }

    ul {
      margin-right: space(3);
      display: none;
    }

    &.active {
      > ul {
        display: block;
      }

      > svg {
        transform: rotateX(180deg);
      }
    }
  }

  > ul {
    margin: 0;
    padding: 0;
    > li {
      display: block;

      &:first-child {
        border-top: unset;
      }

      > a {
        line-height: 50px;
        color: #656565;
        font-size: 14px;
      }

      > ul {
        position: static;
        background-color: unset;
        border-radius: unset;
        padding: unset;
        z-index: unset;
        box-shadow: unset;
        opacity: unset;
        visibility: unset;
        transition: unset;
        column-count: unset;
        min-width: unset;
        display: none;

        &:before {
          display: none;
        }

        svg {
          display: block;
        }

        > li {
          margin: unset;

          a {
            line-height: 50px;
            color: #656565;
            font-size: 14px;
          }

          ul {
            padding: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .nav {
    > ul {
      > li {
        &.hasChild {
          > a {
            &:before {
              border-right: 25px solid transparent;
              border-left: 25px solid transparent;
            }
            &::after {
              width: 50px;
            }
          }
        }
        > ul {
          right: -25px;
          max-width: calc(100% + 50px);
        }
      }
    }
  }
}
