@import "@/assets/styles/variables";
@import "@/assets/styles/functions";

.logo {
  order: 1;
  margin-bottom: space(1);
  img {
    max-height: 40px;
    width: auto;
  }
  a {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: #000;
  }
}

// .logo {
//   margin-right: auto;

//   a {
//     display: flex;
//     flex-direction: row-reverse;
//     align-items: center;
//     color: #000;
//   }
// }

// @media (max-width: 768px) {
//   .logo {
//     order: 2;
//     margin-bottom: space(2);
//     img {
//       max-height: 40px;
//       width: auto;
//     }
//   }
// }

@media (max-width: 400px) {
  .logo {
    img {
      max-height: 30px;
      width: auto;
    }
  }
}
