@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.sidePanelMessagesDetial {
  background-color: #fff;
  width: 280px;
  max-height: 350px;
  padding: space(4) space(5);
  max-width: 100%;
  text-align: center;
  border-radius: space(3);
  display: flex;
  flex-direction: column;
  align-items: center;
  &Image {
    width: 100px;
    height: 100px;
    border-radius: space(4);
    padding: space(0.5);
    margin-top: -60px;
    background-color: #fff;
    margin-bottom: space(1);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    img {
      width: 100%;
      height: 100%;
      border-radius: space(4);
    }
  }
  &Title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: space(4);
  }
  &Content {
    overflow: scroll;
    direction: rtl;
    margin-bottom: space(2);
    padding-bottom: unset;
    &::-webkit-scrollbar {
      width: 5px;
      height: 0;
    }
    &::-webkit-scrollbar-thumb {
      background: #b7b7b7;
    }
    p {
      text-align: right;
      font-weight: 500;
      line-height: 25px;
      font-size: 16px;
      margin-bottom: unset;
    }
  }
  &Date {
    margin-bottom: space(3);
    align-self: flex-end;
    span {
      font-size: 16px;
      display: block;
      font-weight: 400;
      color: #b7b7b7;
      text-align: left;
    }
  }
  button {
    background: $button-bg-green;
    border: unset;
    line-height: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: radius(2);
    margin-bottom: -32px;
    padding: 0 space(10);
    position: relative;
    text-align: center;
    width: 170px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    &:focus,
    &:active {
      outline: unset;
      box-shadow: unset;
    }

    &:hover {
      box-sizing: 0 3px 10px rgba(0, 0, 0, 0);
    }
  }
}
