@import '@/assets/styles/functions';
@import '@/assets/styles/variables';

.pay {
  background-color: #fff;
  border-radius: radius(3);
  padding: space(6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  flex-direction: column;

  &Title {
    display: flex;
    margin-bottom: space(2);
    padding-bottom: space(2);
    border-bottom: 1px solid $gray;
    line-height: 26px;

    span {
      margin-left: auto;
      font-weight: 800;
      font-size: 14px;
    }
  }

  &Club {
    margin-bottom: space(5);
    text-align: center;

    img {
      max-width: 160px;
      height: auto;
      margin-bottom: space(2);
    }

    p {
      color: #463d89;
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  &Detail {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        line-height: 30px;
        font-weight: 500;
        color: $gray;
        font-size: 13px;
        margin-bottom: space(1);

        span {
          &:first-of-type {
            margin-left: auto;
          }

          &:last-of-type {
            small {
              margin-right: space(1);
            }
          }
        }
      }
    }
  }

  &Options {
    width: 100%;
    max-width: 200px;
    margin: 0 auto space(2);

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }

  &Discount {
    width: 100%;
    margin-bottom: space(2);
    margin-top: space(2);
    position: relative;
    &Loader {
      position: absolute;
      left: space(3);
      top: 50%;
      transform: translateY(-50%);
    }
    input,
    textArea {
      display: block;
      width: 100%;
      padding: 0 space(3) 0 space(12);
      border: 2px solid $gray;
      border-radius: radius(2);
    }
    input {
      line-height: 36px;
    }
    textArea {
      font-size: 11px;
    }

    input:focus-visible,
    textArea:focus-visible {
      border-color: $orange;
      outline: none;
    }
    button {
      position: absolute;
      left: space(1);
      top: 50%;
      transform: translateY(-50%);
      line-height: 32px;
      padding: 0 space(2);
      background: $header-nav-bg;
      color: #fff;
      border: unset;
      border-radius: radius(1);
      cursor: pointer;
    }
  }

  &SumPrice {
    text-align: center;
    margin: space(1) 0;

    span {
      font-size: 14px;
      font-weight: 600;
      color: $orange;
      display: block;
    }
  }

  &Button {
    margin-top: auto;

    button {
      width: 100%;
      border: unset;
      background: $header-nav-bg;
      color: #fff;
      font-weight: 600;
      text-align: center;
      height: 45px;
      outline: unset;
      font-size: 14px;
      margin-left: space(2.5);
      border-radius: radius(3);
      padding: 0;
      margin: 0;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: 0.15s;

      &:hover {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media (max-width: 1200px) {
  .pay {
    height: auto;
  }
}
