@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.relatedCoursesWrapper {
  display: flex;
  flex-direction: column;
}

.installmentPayment {
  left: 7.5px;
  bottom: 7.5px;
}

.productCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: white;
}

.productInfo {
  flex: 1;
  height: 100%;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 0.875rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
}

.metadata {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #666;
  font-size: 0.875rem;
  width: 100%;
  .metadataWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .metadataItem {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: #8b8b8b;
    width: 50%;
    padding: 3px 0;
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.productImage {
height: 100px;
  width: 80px;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: -1px 4px 10px 0px rgb(0 0 0 / 36%);
  // TODO: need to implement in another way
  // aspect-ratio: 16/9;
}

.productLanguageTag {
  position: absolute;
  color: white;
  background: #c2c2c2;
  width: 20px;
  text-align: center;
  padding: 2px 0;
  border-radius: 5px;
  left: 0.5rem;
  bottom: 5rem;
}

.productPrice {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &Regular {
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 20px;
    span {
      color: #aaa;
      line-height: 13px;
      font-size: 13px;
      text-decoration: line-through;
      font-weight: 700;
    }

    small {
      margin-right: space(2);
      padding: 0 space(3);
      border-radius: radius(1);
      background: $header-nav-bg;
      color: #fff;
    }
  }

  &Sale {
    text-align: center;
    line-height: 30px;
    display: block;
    color: var(--app-base, $base-green);
    font-size: 15px;
    line-height: 15px;
  }
}

@media (max-width: 768px) {
  .metadata {
    font-size: 0.75rem;
  }
}

@media (max-width: 425px) {
  .metadata {
    font-size: 0.6rem;
    gap: 1rem;
  }
}
