@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: space(2);
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;

  &Accordion {
    width: calc(50% - space(2));
  }
}

.filter {
  width: calc(50% - space(3));
}

.archiveFilters {
  background-color: #fff;

  border-radius: radius(3);
  padding: space(6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 168px;
  margin-bottom: space(10);
  max-height: 730px;
  overflow: scroll;

  &::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: space(2.5);
    border: 10px solid #fff;
  }
  &::-webkit-scrollbar-thumb {
    width: 23px;
    background-color: var(--app-base, $base-green);
    border-radius: space(2.5);
    border-left: 9px solid #fff;
    border-right: 9px solid #fff;
  }
  &::-webkit-scrollbar {
    border-radius: space(2);
    width: 23px;
  }

  &Header {
    display: flex;
    align-items: center;
    margin-bottom: space(6);
    font-weight: 600;
  }

  &ClearAll {
    margin-right: auto;
    color: var(--app-base, $base-green);
    border-bottom: 1px solid var(--app-base, $base-green);
    cursor: pointer;
  }

  &CheckboxList {
    background-color: #fff;
    border-radius: radius(3);
    padding: space(4);
    min-width: 200px;
    max-width: 500px;
    width: 70vw;
    position: relative;
    padding-bottom: 20px;

    > ul {
      max-height: 400px;
      overflow: auto;

      > li:first-of-type {
        border: none;
      }
      ul {
        padding: 0 15px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 5px 0;
      width: 100%;

      &::-webkit-scrollbar-track {
        background-color: #ccc;
        border-radius: space(2.5);
        border: 10px solid #fff;
      }
      &::-webkit-scrollbar-thumb {
        width: 25px;
        background-color: var(--app-base, $base-green);
        border-radius: space(2.5);
        border-left: 9px solid #fff;
        border-right: 9px solid #fff;
      }
      &::-webkit-scrollbar {
        border-radius: space(2);
        width: 25px;
      }

      li {
        border-top: 1px solid #eee;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        > div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
        }

        label {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0;
          line-height: 40px;
          cursor: pointer;
          position: relative;
          padding-right: space(6);

          span {
            &:first-of-type {
              font-weight: 600;
            }

            &:last-of-type {
              color: #777;
            }
          }

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            border-radius: radius(1);
            border: 1px solid #eee;
          }

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(calc(-50% - 1px)) rotate(-45deg);
            width: 8px;
            height: 5px;
            border-width: 0 0 1px 1px;
            border-style: solid;
            border-color: #fff;
            right: 4px;
          }
        }

        input {
          display: none;

          &:checked {
            + label {
              &:before {
                background-color: var(--app-base, $base-green);
                border-color: var(--app-base, $base-green);
              }
            }
          }
        }

        svg {
          width: 20px;
          height: auto;
          color: purple;
          cursor: pointer;
        }
      }
    }
    > input {
      border: unset;
      outline: unset;
      width: 100%;
      border-radius: space(2);
      background-color: #fff;
      color: #121212;
      line-height: 30px;
      padding: 0 space(2);
      border: 2px solid var(--app-base, $base-green);
      margin-top: space(2);
      margin-bottom: 10px;
    }
  }
  &Content {
    > span {
      font-weight: 600;
    }
  }

  &SliderMark {
    :global {
      .rc-slider-mark .rc-slider-mark-text:last-child {
        left: calc(100% - 10px) !important;
      }
      .rc-slider-handle {
        border-color: var(--app-base, $base-green);
      }
      .rc-slider-track {
        background: var(--app-base, $base-green);
      }
    }
  }
}

.hide {
  display: none;
}

.submitFilters {
  margin-top: space(4);
  position: absolute;
  bottom: 0;
  right: 50%;
  padding: 9px 30px;
  transform: translateY(50%) translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    padding: 10px 20px;
    flex: none;
    font-size: larger;
  }
}

@media (max-width: 1200px) {
  .archiveFilters {
    &Header {
      margin-bottom: unset;

      span {
        cursor: pointer;
      }
    }

    &Content {
      display: none;
      padding-top: space(3);

      &.open {
        display: block;
      }
    }
  }
}

@media (max-width: 768px) {
  .archiveFilters {
    margin-bottom: space(4);
  }
  .archiveFiltersCheckboxList {
    width: 100vw;
  }
}
