.tabs {
  > div {
    &:last-of-type {
      padding: 0;
      background-color: #f5f5f5;
      padding-top: 5px;
    }
  }
}
.noPlan {
  width: 100%;
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    margin-bottom: 20px;
  }
  button {
    flex: none;
  }
}
.noData {
  width: 100%;
  height: calc(100vh - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    font-size: medium;
  }

  a {
    border: 2px solid red;
    border-radius: 5px;
    color: black;
    text-align: center;
    width: 165px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 20px;
    box-shadow: 0 0 3px 0px #737373;
  }
}
