@import "src/assets/styles/keyframes";
@import "src/assets/styles/variables";

.pageLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd #ddd $red;
  animation: 0.5s spinner linear infinite;
  margin: 0 auto;
}

.red {
  border-color: #ddd #ddd $red;
}

.green {
  border-color: #ddd #ddd $green;
}

.orange {
  border-color: #ddd #ddd orange;
}
