@import "src/assets/styles/keyframes";
@import "src/assets/styles/variables";

.pageLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  min-height: 100%;
}

.loading {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd #ddd var(--app-base, $base-green);
  animation: 0.5s spinner linear infinite;
  margin: 0 auto;
  width: 25px;
  aspect-ratio: 1/1;
}
