.filterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.topButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 15px;

  button {
    flex: 1;
    margin-right: 10px;
  }
  button:first-child {
    margin-right: 0;
  }
}

.filtersBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 15px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .topButtons {
    button {
      font-size: 12px;
    }
  }
}
