@import "@/assets/styles/variables";

.searchSection {
  display: flex;
  align-items: space-between;
  padding: 10px 16px 10px 16px;
  gap: 15px;
  background: white;
  position: sticky;
  top:3.5rem;
  z-index: 100;
}

.searchWrapper {
  flex: 1;
  position: relative;
}

.searchInput {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  background: white;
  direction: rtl;
  padding-right: 5px;
  border: 1px solid $base-green;
  &::placeholder {
    color: #999;
  }

  &:disabled {
    background: rgba(255, 255, 255, 1);
    cursor: not-allowed;
  }
}

.searchIcon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.categoriesBtn {
  height: 40px;
  padding: 0 20px;
  border-radius: 12px;
  background: $base-green;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.2s;

  &:active {
    transform: scale(0.95);
  }
}
