@import "@/assets/styles/functions";

.callbackDiscountInfo {
  text-align: center;
  line-height: 30px;

  > img {
    aspect-ratio: 1/1;
    height: auto;
  }
  img {
    max-width: 100%;
  }

  p {
    color: #463d89;
    font-weight: 600;
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  .callbackDiscountInfo {
    margin-bottom: space(3);
  }
}
