@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.header {
  position: sticky;
  top: 0;
  right: $sidebar-collapse-width;
  background-color: $header-bg;
  margin-bottom: space(7.5);
  z-index: 700;

  &Top {
    padding: space(3) 0;

    &Wrapper {
      display: flex;
      align-items: center;
    }
    &Buttons {
      a {
        min-width: 40px;
        height: 40px;
        border: 2px solid $gray;
        background-color: #fff;
        border-radius: radius(2);

        margin-bottom: space(2);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 space(1.2);

        span {
          margin-right: space(2);
          color: $gray;
          font-weight: 600;
        }

        &:first-of-type {
          margin-left: space(2);
        }

        &:last-of-type {
          width: calc(80px + space(2));
        }
      }
    }
  }

  &Bottom {
    background: $header-nav-bg;

    &Wrapper {
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;

      &LeftSection {
        display: flex;
        button {
          background: unset;
          border: unset;
          height: 39px;
          width: 50px;
          img {
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header {
    &Bottom {
      padding: space(1.25) 0;
    }
  }
}

@media (max-width: 768px) {
  .header {
    &Top {
      padding: space(2) 0;
      &Wrapper {
        flex-wrap: wrap;
      }
    }
  }
}
