@import '@/assets/styles/variables';
@keyframes animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
.ScanArea {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  fill: none;
  stroke: $green;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: animation 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
