@import "../../../assets/styles/variables.scss";
@import "../../../assets/styles/functions.scss";
@import "../../../assets/styles/keyframes.scss";
// @import '@/sharedModules/assets/styles/functions';
// @import '@/sharedModules/assets/styles/keyframes';

.authWrapper {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding: space(10) space(10) 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: radius(6);

  img {
    width: 270px;
    height: auto;
    margin-bottom: space(10);
  }

  .enterPhoneForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    > label {
      line-height: 26px;
      margin-bottom: -13px;
      background-color: #fff;
      padding: 0 space(2);
      position: relative;
      z-index: 2;
      font-weight: 600;
    }

    input {
      padding: space(2) space(4) 0;
      line-height: 32px;
      margin-bottom: space(5);
      border-radius: radius(3);
      text-align: center;
      border: 2px solid $green;
      letter-spacing: 2px;
      font-size: 16px;

      &:focus {
        border-color: $green;
        outline: unset;
      }
    }

    button {
      background: $button-bg-green;
      border: unset;
      line-height: 45px;
      height: 45px;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      border-radius: radius(3);
      margin-bottom: -22px;
      padding: 0 space(10);
      position: relative;
      text-align: center;
      min-width: 175px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

      &:focus,
      &:active {
        outline: unset;
        box-shadow: unset;
      }

      &:hover {
        box-sizing: 0 3px 10px rgba(0, 0, 0, 0);
      }

      &.loading {
        &:before {
          content: "";
          position: absolute;
          left: calc(50% - 13px);
          top: calc(50% - 13px);
          width: 26px;
          height: 26px;
          border-width: 3px;
          border-style: solid;
          border-color: #fff #fff transparent;
          animation-name: spinner;
          animation-timing-function: linear;
          border-radius: 13px;
          animation-duration: 0.75s;
          animation-iteration-count: infinite;
        }
      }

      &:disabled {
        background: $gray;
        cursor: default;
        outline: unset;
        box-shadow: unset;
      }
    }
  }

  .verifyPhoneForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // padding-bottom: space(10);

    p {
      font-weight: 600;
      margin-bottom: 0;
    }

    > p,
    > span {
      margin-bottom: space(3);
    }

    > span {
      color: $gray;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }

    &Inputs {
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      column-gap: 10px;
      margin: space(3) 0;

      input {
        padding: 0 space(1);
        line-height: 32px;
        border-radius: radius(3);
        text-align: center;
        border: 2px solid $green;
        letter-spacing: 2px;
        font-size: 16px;
        width: 40px;

        &:focus {
          border-color: $orange;
          outline: unset;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .authWrapper {
    width: 100%;
    min-height: 385px;
    padding: space(4) space(6) space(6);

    .enterPhoneForm,
    .verifyPhoneForm {
      button {
        margin-bottom: unset;
      }
    }
  }
}
