.productCommentsHeader {
  display: flex;
  flex-direction: column;
}

.noComments {
  width: 100%;
  text-align: center;
  display: block;
  font-weight: 800;
  font-size: medium;
  margin-top: 15px;
}
