@import "@/assets/styles/variables";

// components/ClinicHeader/ClinicHeader.module.scss
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

.headerTop {
  padding: 7px 20px 7px 16px;
  background: $base-green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lefSideHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}
.backBtn,
.favoriteBtn {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  width: 45px;
  height: 45px;
  border-radius: 8px;
  background: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;

  svg {
    color: #333;
    width: 30px;
    height: 30px;
  }

  &:active {
    transform: scale(0.95);
  }
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
