@import "@/assets/styles/variables";

// components/ClinicHeader/ClinicHeader.module.scss
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

.headerTop {
  padding: 7px 20px 7px 10px;
  background: $green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lefSideHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}
.backBtn,
.favoriteBtn {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;

  svg {
    color: #333;
  }

  &:active {
    transform: scale(0.95);
  }
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

