@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

html body div .mobileMode {
  flex-wrap: wrap;
  gap: 10px;
  button {
    font-size: 11px !important;
  }
  svg {
    width: 17px;
    height: auto;
  }

  div {
    gap: 5px;
  }
}

html .notSureQuestion {
  --not-sure-color: rgba(255, 255, 0, 0.15);
  background-color: var(--not-sure-color);
  h4 {
    background-color: var(--not-sure-color);
  }
  .buttonsWrapper {
    background-color: var(--not-sure-color);
  }
}

html .dontKnowQuestion {
  --dont-know-color: rgba(128, 128, 128, 0.15);
  background-color: var(--dont-know-color);
  h4 {
    background-color: var(--dont-know-color);
  }
  .buttonsWrapper {
    background-color: var(--dont-know-color);
  }
}

.questionItem {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;

  h4 {
    padding: 12px;
    box-shadow: 0 3px 8px rgb(0 0 0 / 13%);
    background-color: #eeeeee;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    span {
      font-weight: 800;
    }

    .category {
      position: absolute;
      left: 12px;
      bottom: 0;
      transform: translateY(50%);
      background-color: $blue;
      border-radius: 20px;
      font-size: 12px;
      font-weight: bold;
      padding: 4px 7px;
      color: white;
    }
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: #eeeeee;

    .actionButtons {
      button {
        color: black;
        background-color: white;
        border-radius: 10px;
        border: 1px solid $lightGray;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        cursor: pointer;
      }
    }

    .favoriteFillIcon {
      color: $purple;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      button {
        flex: none;
        font-size: larger;
      }
    }
  }

  .optionsWrapper {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    img {
      margin-top: 10px;
    }
  }

  .answerWrapper {
    padding: 10px 15px;
    margin: 0 10px;
    border-top: 1px solid $purple;
    p {
      margin: 0;
    }
  }
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .radio {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: 1px solid $lightGray;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    cursor: pointer;
    div {
      width: 11px;
      height: 11px;
      border-radius: 100%;
    }
  }

  label {
    margin: 0;
    position: relative;
    cursor: pointer;
  }

  .radioLabel {
    flex: 1;
    padding: 0 3px;
    border-radius: 100px;
  }

  input {
    display: none;
  }

  input:checked + .radio {
    div {
      background-color: $purple;
    }
    border-color: $purple;
  }
}

.radioCorrect {
  .radioLabel {
    color: white;
    background-color: $base-green;
  }

  .radio {
    border-color: $base-green;
    div {
      background-color: $base-green;
    }
  }

  input:checked + .radio {
    div {
      background-color: $base-green;
    }
    border-color: $base-green;
  }
}

.radioWrong {
  input:checked + .radio {
    div {
      background-color: $red;
    }
    border-color: $red;
  }
}

.questionImages {
  width: 100%;
  max-width: 450px;
  height: auto;
  margin: auto;
}

.answerWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    width: 100%;
    text-align: start;
  }
  .explanationReferences {
    border: 1px solid $purple;
    width: auto;
    width: fit-content;
    padding: 4px 9px;
  }
}

.questionItemWaterMark {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  opacity: 0.8;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

@media (max-width: 425px) {
  html .questionItem .buttonsWrapper {
    flex-wrap: wrap;
    gap: 10px;
    button {
      font-size: 11px;
    }
    svg {
      width: 17px;
      height: auto;
    }

    div {
      gap: 5px;
    }
  }
}
