@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.providerHeaderWrapper {
  > div:last-child {
    padding: 0;
  }
}

body .secondary {
  flex-direction: column;
  padding-top: 27px;
  align-items: center;

  img {
    position: absolute;
    transform: translate(0, -50%);
    box-shadow: 0 0 10px rgb(111 111 111 / 52%);
  }

  h3 {
    color: black;
    &:last-child {
      display: none;
    }
  }

  .providerInfo {
    background: white;
    width: 90%;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #b5b5b5;
    padding-top: 50px;
  }

  .redBackground {
    height: 67%;
  }
}

.ProviderHeader {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px;
  flex-direction: row;

  img {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px #f2e3e378;
    background-color: white;
  }

  h3 {
    color: white;
    font-size: 15px;
  }
  h3:last-child {
    color: var(--app-base, $base-green);
    margin-top: 10px;
  }
}

.providerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.redBackground {
  background: var(--button-bg, #{$button-bg-red});
  top: -1px;
  right: 0;
  width: 100vw;
  max-width: 800px;
  height: 50%;
  position: absolute;
  z-index: -1;
}

.tabsContainer {
  background-color: #e0e0e0;
  margin-top: 15px;
  ul li {
    line-height: 40px;
  }
}

.pageDescription {
  width: 100%;
  padding: 15px;

  > div {
    font-size: 16px;
  }
}
