@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.addedButtonsWrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  a {
    color: #fff;
  }
}

.column {
  flex-direction: column;
}

.fullWidth {
  width: 100%;
}
