@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.section {
  padding: space(4) ();
}

.wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: space(1);
  margin: 0 auto;
}

@media (max-width: 576px) {
  .wrapper {
    gap: space(3);
  }
}
