@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.footer {
  margin-top: space(10);
  margin-bottom: space(25);
  position: relative;

  &Wrapper {
    border-radius: radius(10);
    background-color: #f2f2f2;
    padding: space(20) space(20) space(10);
  }

  &Logo {
    max-width: 350px;
    margin: 0 auto space(5);
    img {
      width: 100%;
      height: auto;
    }
  }

  &About {
    line-height: 24px;
    font-size: 16px;
    color: #666;
    text-align: justify;
  }

  &CenterCol {
    display: flex;
    flex-direction: column;
  }

  &Links {
    margin-bottom: space(6);
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 20px;
      text-align: center;
      span,
      a {
        color: #141F23;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        transition: 0.15s;
        cursor: pointer;

        &:hover {
          color: #333;
        }
      }
      li {
        position: relative;

        &:last-of-type {
          margin-bottom: unset;
        }
      }
    }
  }

  &AppItems {
    display: flex;
    align-items: center;
    gap: space(1);
    a {
      width: calc(33.33333% - space(1));
      flex: 0 0 calc(33.33333% - space(1));
      text-align: center;
    }
    img {
      max-width: 100%;
      // width: auto;
      height: auto;
    }
  }

  &Detail {
    text-align: center;
    color: #777;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    padding-top: space(4);
  }

  &Socials {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      padding: unset;

      li {
        margin-right: space(1.5);
        position: relative;
        border-radius: radius(3);
        background-color: #ccc;

        > div {
          display: block;
          position: absolute;
          left: 50%;
          bottom: 100%;
          text-align: center;
          white-space: nowrap;
          z-index: 90;
          font-size: 16px;
          line-height: 50px;
          padding: 0 space(4);
          margin-bottom: space(2);
          border-radius: space(2);
          background: #222;
          color: #fff;
          opacity: 0;
          visibility: hidden;
          transform: translate3d(-50%, -1em, 0);
          transition: all ease-in-out 0.3s;
          &::after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: -7px;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-left: space(2) solid transparent;
            border-right: space(2) solid transparent;
            border-top: space(2) solid #333;
          }
        }

        a {
          width: 42px;
          color: #333;
          height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: radius(1);
          transition: all ease-in-out 0.2s;
        }
        &:last-of-type {
          margin-right: unset;
        }
        &:hover {
          a {
            transition: all ease-in-out 0.2s;
          }
          > div {
            opacity: 1;
            visibility: visible;
            transform: translate3d(-50%, 0, 0);
            transition: all ease-in-out 0.2s;
          }
        }
      }
    }
  }

  &Logos {
    padding: space(4) 0 space(1);
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      padding: 0;
      margin: 0;
      gap: space(2);
      li {
        max-width: 85px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }

  &CopyRight {
    text-align: center;
    position: relative;
    margin-top: space(10);

    p {
      margin-bottom: 0;
      color: #333;
      font-size: 13px;
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    &Wrapper {
      border-radius: radius(8);
      background-color: #f2f2f2;
      padding: space(15) space(12) space(10);
    }
    &Socials {
      ul {
        li {
          a {
            width: 36px;
            height: 36px;
            border-radius: radius(0.75);
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .footer {
    margin-top: space(5);
    margin-bottom: space(8);

    &About {
      text-align: center;
    }
    &CenterCol {
      flex-direction: column-reverse;
    }
    &AppItems {
      margin-bottom: space(5);
      img {
        max-width: 70%;
      }
    }
    &Socials {
      ul {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
        &AppItems {
      margin-bottom: space(5);
      img {
        max-width: 100%;
      }}
    &Wrapper {
      padding: space(10) space(6) space(10);
      border-radius: radius(8);
    }
    &Logos {

      ul {
        li {
          max-width: 65px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .footer {
    &AppItems {
      flex-wrap: nowrap;
      justify-content: center;
      a {
        flex: 0 0 33.333%;
        width: 33.333%;
      }
    }
  }
}