@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.sidebar {
  $sidebar: &;

  &Nav {
    $Nav: &;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        margin-bottom: space(4);
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        width: 68px;
        position: relative;
        z-index: 10;

        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          transition: 0.5s;
          border-radius: radius(4);
          color: #92938e;
          position: relative;
          border: 2px solid transparent;
          padding: space(2) space(2) space(2) space(1);

          div {
            img {
              position: relative;
              z-index: 2;
              padding: 5px;
              transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }

        &:hover {
          transform: scale(1.05);
        }

        &.active {
          position: relative;
          z-index: 5;
          #{$sidebar}NavShape {
            display: block;
          }
          a {
            color: #000;
          }
        }
      }
    }
    &Shape {
      display: none;
      position: absolute;
      left: -41px;
      width: 75px;
      height: 150px;
      top: 50%;
      z-index: -1;
      transform: translateY(-50%);
      background-image: linear-gradient(to right, #fff 80%, rgba(255, 255, 255, 0));
      transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      overflow: hidden;
      opacity: 1;
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        transform: translateY(-50%);
        height: 94px;
        width: 175%;
        background-color: $sidebar-bg;
        border-radius: 50%;
      }
      &:after {
        top: unset;
        bottom: 0;
        transform: translateY(50%);
      }
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    &Nav {
      $Nav: &;
      ul {
        li {
          height: 65px;
          display: flex;
          align-items: center;

          &.active {
            position: relative;
            background-color: #fff;
            order: 0;
            padding-bottom: space(3);
            a {
              display: flex;
              flex-direction: column;

              div {
                svg {
                  display: none;
                }
              }

              > span {
                display: block;
                text-align: center;
                z-index: 12;
                font-weight: 800;
                line-height: 15px;
              }
            }

            div {
              img {
                transform: translateY(-15px);
                width: 50px;
                height: 50px;
              }
            }
          }
        }
      }
    }
    &NavShape {
      display: none !important;
      &::before {
        display: none !important;
      }
      &::after {
        display: none !important;
      }
    }

    &Nav {
      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
          width: unset;
          margin-bottom: unset;

          a {
            padding: space(2);
            border: unset;
          }
        }
      }
    }
  }
}
