@import "@/assets/styles/variables";
.medicineCard {
  background: white;
  border-radius: 16px;
  border: solid 2px #ccc;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  &:active {
    transform: scale(0.98);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.medicineImage {
  border: solid 1px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 12px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
  }
}

.medicineInfo {
  flex: 1;
  text-align: right;
}

.medicineNameEn {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin: 0 0 4px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.medicineNameFa {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shapeCoding {
  background: $green;
  border-radius: 10px;
  padding: 2px 12px;
  display: flex;
  width: fit-content;
  position: absolute;
  left: 12px;
  z-index: 2;
  color: white;
  cursor: pointer;
}
