@import '@/assets/styles/functions';
@import '@/assets/styles/variables';

.sidePanelClubHistory {
  &Item {
    background-color: #ffff;
    border-radius: space(1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: space(2);
    padding: space(3);
    &:last-of-type {
      margin-bottom: unset;
    }
    a {
      color: #000;
    }
    &Title {
      display: flex;
      align-items: center;
      span {
        font-weight: 500;
        &:first-of-type {
          margin-left: auto;
        }
      }
      &Red {
        span {
          &:last-of-type {
            color: #ff0000;
          }
        }
      }
      &Green {
        span {
          &:last-of-type {
            color: #01e21b;
          }
        }
      }
    }
    &Discount {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      span {
        line-height: 20px;
        font-weight: 300;
        color: #bababa;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &Date {
      margin-bottom: space(1);
      span {
        display: block;
        line-height: 20px;
        font-weight: 300;
        &:first-of-type {
          color: #606060;
        }
        &:last-of-type {
          color: #bababa;
        }
      }
    }
    &Footer {
      background-color: #e7e7e7;
      border-radius: space(1);
      text-align: center;
      padding: 0 space(2);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      span {
        line-height: 35px;
        font-weight: 300;
      }
    }
    &FooterCode {
        display: flex;
        align-items: center;
        padding: space(1) space(2);
        background-color: #e7e7e7;
        border-radius: space(1);
        span {
            display: block;
            font-weight: 500;
            line-height: 22px;
            background-color: #fff;
            margin-left: space(2);
            padding: 0 space(2);
            border-radius: space(1);
            flex: 0 0 calc(100% - 87px);
            max-width: calc(100% - 87px);
            text-align: center;
        }
        button {
            display: flex;
            align-items: center;
            background: unset;
            border: unset;
            font-weight: 300;
            cursor: pointer;
            &:active, &:focus {
                outline: unset;
            }
            svg {
                margin-left: space(2);
            }
        }
    }
  }
}
