@import '@/assets/styles/functions';
@import '@/assets/styles/variables';

.productSidebarHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: space(5);

  span {
    width: 35px;
    flex: 0 0 35px;
    height: 35px;
    border: 2px solid $orange;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: radius(2);
    margin-right: space(1);
    cursor: pointer;
    transition: 0.15s;

    svg,
    a {
      transition: 0.15s;
      color: #000;
    }

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: $header-nav-bg;
      color: #fff;

      svg,
      a {
        color: #fff;
      }
    }
  }

  body &SampleButton {
    width: auto;
    flex: 1;
    a {
      font-size: medium;
      text-align: center;
    }
  }

  > a {
    margin-left: auto;
    flex: 0 0 calc(100% - calc(3 * 35px) - space(3));
    line-height: 31px;
    border: 2px solid $orange;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: radius(2);
    color: #000;
    font-size: 13px;
    font-weight: 600;
    transition: 0.15s;

    &:hover {
      background: $header-nav-bg;
      color: #fff;
    }
  }
}

@media (max-width: 400px) {
  .productSidebarHeader {
    body &SampleButton {
      a {
        font-size: small;
      }
    }
  }
}
