@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.sidePanelFavoritesLearning {
  &Item {
    display: flex;
    background-color: #fff;
    margin-bottom: space(2);
    padding: space(2);
    border-radius: radius(4);
    position: relative;
    transition: 0.15s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;

    > a {
      border-radius: radius(4);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
    }

    &:hover {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    }

    &Image {
      flex: 0 0 70px;
      border-radius: radius(2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      max-width: 70px;
      height: 70px;
      margin: auto;
    }

    &Content {
      flex: 0 0 calc(100% - 70px);
      padding-right: space(3);
      display: flex;
      flex-direction: column;
    }

    &Title {
      margin-bottom: space(1);

      span {
        font-size: 14px;
        font-weight: 500;
      }
    }

    &Footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: auto;

      span {
        line-height: 20px;
        color: #f54f1a;
        font-size: 14px;
        font-weight: 500;
      }

      small {
        color: $gray;
        font-size: 13px;
        text-decoration: line-through;
      }
    }
  }
}
