@import '@/assets/styles/functions';
@import '@/assets/styles/variables';

.accordion {
    $accordion: &;

    margin-bottom: space(2);

    &:last-of-type {
        margin-bottom: 0;
    }

    &Title {
        cursor: pointer;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $gray;

        span {
            line-height: 40px;
            font-weight: 500;
            color: $gray;
        }

        svg {
            margin-right: auto;
            fill: $orange;
        }
    }

    &Content {
        display: none;

        &--spacing {
            padding: space(2);
        }
    }

    &.active {
        >#{$accordion}Content {
            display: block;
        }

        >#{$accordion}Title {
            svg {
                transform: rotateX(180deg);
            }
        }
    }
}