@import "@/assets/styles/variables";
@import "@/assets/styles/functions";

.productSlider {
  &Header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: space(2);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 1px;
      background-color: $red;
      z-index: 1;
    }

    &Title {
      position: relative;
      z-index: 2;
      padding-left: space(3);
      background-color: #fff;

      span {
        line-height: 30px;
        font-size: 14px;
        font-weight: 700;
      }
    }

    &Link {
      padding-right: space(3);
      position: relative;
      z-index: 2;
      background-color: #fff;
      margin-right: auto;

      a {
        line-height: 28px;
        border-radius: radius(2);
        padding: 0 space(4);
        font-size: 14px;
        font-weight: 500;
        color: #000;
        transition: 0.15s;
        background: $button-bg-red;
        color: #fff;

        &:hover {
          background-color: $red;
          color: #fff;
        }
      }
    }
  }

  &Slider {
    position: relative;

    .course {
      height: 95px;
      width: 175px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-size: cover;
      background-position: center;
      object-fit: scale-down;
    }

    &:before {
      position: absolute;
      content: "";
      left: space(-3.75);
      top: 0;
      bottom: 0;
      z-index: 100;
      width: space(3.75);
      background-color: #fff;
    }

    :global {
      .swiper {
        padding-bottom: 12px;
      }
    }
  }
}

@media (max-width: 992px) {
  .productSlider {
    &Slider {
      :global {
        .swiper {
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .productSlider {
    &Slider {
      &:before {
        display: none;
      }
      :global {
        .swiper {
          // padding-left: space(55);
        }
      }
    }
  }
}

// @media (max-width: 576px) {
//   .productSlider {
//     &Slider {
//       .course {
//         height: 75px;
//         width: 150px;
//       }
//     }
//   }
// }
