@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.favoriteButton {
  background-color: #fff;
  margin: 0 0 0 space(2);
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: none;

  .filledHeart {
    color: var(--app-base, #{$green});
  }

  &:first-of-type {
    margin: 0;
  }

  &:active,
  &:focus {
    outline: none;
  }

  img,
  svg {
    width: 25px;
    height: 25px;
  }
}
