@import '@/assets/styles/functions';
@import '@/assets/styles/variables';

.productSidebar {
  position: sticky;
  top: 150px;
  background-color: #fff;
  border-radius: radius(3);
  padding: space(6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  margin-bottom: space(5);
  min-height: 375px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .productSidebar {
    position: static;
  }
}
