@import '@/assets/styles/keyframes';
@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.intro {
  padding: space(15) 0 space(15);
  &Wrapper {
    height: 550px;
    border-radius: radius(14);
    padding: space(10) space(10) 0;
    display: flex;
    position: relative;
    background: radial-gradient(circle at 72% center, #2eb41f, #8fcc1a 35%);
    > svg {
      position: absolute;
      width: 201px;
      height: auto;
      left: 50%;
      bottom: -1px;
      transform: translateX(-50%);
    }
  }
  &Arrow {
    position: absolute;
    left: 50%;
    bottom: space(-2);
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    svg {
      animation-name: pulse;
      animation-duration: 1.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      &:first-of-type {
        width: 16px;
        height: 16px;
        color: #ddd;
      }
      &:nth-of-type(2) {
        width: 20px;
        height: 20px;
        margin-top: space(-2.8);
        color: #ddd;
        animation-delay: 0.5s;
      }
      &:last-of-type {
        width: 24px;
        height: 24px;
        margin-top: space(-3.5);
        color: #ddd;
        animation-delay: 1s;
      }
    }
  }
  &Image {
    flex: 0 0 50%;
    width: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    img {
      max-width: 450px;
      height: auto;
    }
  }
  &Content {
    flex: 0 0 50%;
    width: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;

    span {
      font-weight: 900;
      font-size: 26px;
      display: block;
      margin-bottom: space(4);
    }
    p {
      font-size: 16px;
      max-width: 400px;
      margin-bottom: space(10);
      font-weight: 600;
    }
    div {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: space(1);
      max-width: 100%;
      width: 400px;
      a {
        flex: 1;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 0.65rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .intro {
    &Wrapper {
      height: 450px;
    }
  }
}

@media (max-width: 992px) {
  .intro {
    &Wrapper {
      height: 350px;
      border-radius: radius(10);
      padding: space(5) space(5) 0;
    }
    &Content {
      span {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 768px) {
  .intro {
    padding: space(5) 0 space(5);
    &Wrapper {
      flex-direction: column-reverse;
      align-items: stretch;
      height: auto;
      padding-top: space(15);
      border-radius: radius(8);
      background: radial-gradient(circle at center 72%, #2eb41f, #8fcc1a 35%);
    }
    &Image {
      align-self: center;
      flex: unset;
      width: 100%;
    }
    &Content {
      flex: unset;
      width: 100%;
      margin-bottom: space(10);
      div {
        justify-content: center;
        a {
          flex: unset;
        }
        img {
          border-radius: 0.5rem;
        }
      }
    }
  }
}
