@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.filtersWrapper {
  padding-top: 25px;
  position: sticky;
  top: 90px;
  background-color: #fff;

  > div {
    padding: 10px 15px;
  }
}

.listWrapper {
  margin-top: 15px;
  > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.noData {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  display: block;
}
