@import "@/assets/styles/variables";
@import "@/assets/styles/functions";

.mobileHeader {
  // display: none;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  width: 100%;
  display: flex;

  .cartButton {
    position: relative;

    span {
      position: absolute;
      border-radius: 50%;
      border: 1px solid white;
      background: #ff0000;
      left: -7px;
      top: -7px;
      line-height: 12px;
      min-width: 20px;
      padding: 2px;
      padding-top: 4px;
      text-align: center;
      color: white;
      font-size: smaller;
    }
  }

  .left {
    display: flex;
    align-items: center;
    gap: space(2);
    order: 1;
  }
}

.buttons {
  display: flex;
  order: 2;
  &Badge {
    position: absolute;
    background: $red;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff !important;
    top: -6px;
    right: -20px;
  }
  button {
    min-width: 32px;
    height: 32px;
    border: 2px solid $gray;
    background-color: #fff;
    border-radius: radius(2);
    margin-left: space(2);
    margin-bottom: space(2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 space(1.2);
    position: relative;
    cursor: pointer;
    svg,
    img {
      width: 20px;
      height: 20px;
    }

    span {
      margin-right: space(2);
      color: $gray;
      font-weight: 600;
    }
  }

  .proButton {
    border-color: $proGreen; 
    span {
      color: $proGreen;
      font-size: 11px;
      margin-right: 4px;
      white-space: nowrap;
    }
    svg {
      fill: $proGreen;
    }
  }
}

@media (max-width: 768px) {
  .mobileHeader {
    display: flex;
  }
}

@media (max-width: 375px) {
  .buttons {
    button {
      min-width: 25px;
      height: 25px;
      margin-left: space(1);
      svg,
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.drClubPoints{
  color: $base-green;
  font-weight: 700;
  font-size: 0.9rem;
}