.productList {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    &Loader {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
