.productList {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;

  &ItemProvider {
    font-weight: 600;
  }
  &Loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
