@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.mobile {
  margin: 0.5rem 0;
}

.mainSlider {
  // margin: 5px 0;
  // margin-bottom: 15px;
  border-radius: radius(5);
  box-shadow: $card-box-shadow;
  position: relative;
  overflow: hidden;

  div {
    background-color: transparent;
  }

  &Item {
    border-radius: radius(5);

aspect-ratio: 16/9;
    a {
      display: block;
      height: 100%;
    }

    img {
      width: 100%;
      border-radius: radius(5);
      height: 100%;
      object-fit: cover;
    }
  }

  .mainSliderItemTitle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    padding-right: 20px;
    min-height: 50px;
    background: linear-gradient(to bottom, #161616 0%, transparent 100%);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    z-index: 2;
      

  }
  :global {
    .swiper-pagination {
      bottom: 8px;
    }

    .swiper-pagination-bullet {
      background: white;
      opacity: 0.5;
      width: 7px;
      height: 7px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      width: 22px;
      border-radius: 4px;
    }
  }

  // :global {
  //   .swiper-pagination-bullet {
  //     width: 0.8rem;
  //     height: 0.8rem;
  //     border: 2px solid var(--app-base, $base-green);
  //     background-color: #fff;
  //     opacity: 1;

  //     &.swiper-pagination-bullet-active {
  //       background-color: var(--app-base, $base-green);
  //       width: 0.85rem;
  //       height: 0.85rem;
  //     }
  //   }
  // }
}

// @media (max-width: 768px) {
//   .mainSlider {
//     &Item {
//       height: 50vw;
//     }
//   }
// }
