@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

$lightBlue: #9dd6f7ad;

.snappayNotif {
  width: 100%;
  background-color: $lightBlue;
  color: $darkBlue;
  border-radius: radius(1);
  padding: 3px 10px;
  margin-bottom: 10px;
  span {
    text-align: center;
    width: 100%;
    display: inline-block;
  }
}

.listSnappayNotif {
  position: absolute;
  z-index: 1;
  padding: 2px 5px;
  border-radius: radius(1);
  background: $lightBlue;
  color: $darkBlue;
  font-size: 11px;
  width: fit-content;
}
