@import "./variables";

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    color: #ddd;
    transform: scale(1);
  }
  50% {
    color: $green;
    transform: scale(1.2);
  }
}
