$spacing: 4;
$radius: 4;

$body-bg: #fff;

$sidebar-bg: #f2f2f2;
$sidebar-collapse-width: 150px;
$sidebar-expand-width: 230px;
$header-with-spacing-height: 160px;

$main_text: #212529;

$red: #ee2e53;
$orange: #f54f1a;
$green: #33cc33;
$darkGreen: #0b690b;
$blue: #00b0f0;
$darkBlue: #006797;
$purple: #7030a0;
$gray: #949494;
$lightGray: #d1d1d1;
$yellow: #ffcc00;
$proGreen: #3b9e97;

$base-green: #50cf4b;

$placeHolderItemsBackGround: #d1d1d1;

$header-bg: #f2f2f2;
$header-nav-bg: linear-gradient(to right, #f99917, #f54f1a);
$button-bg-orange: $header-nav-bg;
$button-bg-blue: linear-gradient(to right, #09b6f3, #0478ad);
$button-bg-green: linear-gradient(to right, #50cf4b, #50cf4b);
$button-bg-red: linear-gradient(90deg, #ee2e53 0%, #c02745 100%);
$button-bg-darkBlue: #006797;
$button-bg-proGreen: $proGreen;
// $button-bg-purple: linear-gradient(to right, #7030a0, #5a2480);
$button-bg-purple: $purple;

$card-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);

.base {
  --button-bg: #{$button-bg-green};
  --app-base: #{$base-green};
}

.market {
  --button-bg: #{$button-bg-orange};
  --app-base: #{$orange};
}

.learn {
  --button-bg: #{$button-bg-red};
  --app-base: #{$red};
}

.exam {
  --button-bg: #{$button-bg-purple};
  --app-base: #{$purple};
}

.download {
  --button-bg: #{$button-bg-darkBlue};
  --app-base: #{$darkBlue};
}
.dr-pro {
  --button-bg: #{$button-bg-proGreen};
  --app-base: #{$proGreen};
}
