@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.options {
  width: 100%;
  display: flex;
  align-items: center;
  line-height: 30px;
  font-weight: 500;
  color: black;
  font-size: 15px;
  margin-bottom: space(1);
  list-style: none;
    &.pro {
  --app-base: #{$proGreen};

  }

  label {
    cursor: pointer;
    margin: 0;
    padding-right: 10px;

  }

  &Wrapper {
    margin-right: auto;
    display: flex;
  }
  &Switch {
    width: 50px;
    height: 26px;
    border: 2px solid var(--app-base, $base-green);
    border-radius: radius(4);
    margin: 0;
    position: relative;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      left: 2px;
      top: 2px;
      width: 18px;
      height: 18px;
      border-radius: radius(2.5);
      transition: 0.15s;
      background-color: $gray;
    }
    &Active {
      background-color: #e6f7ff;
      &:before {
        left: 26px;
        background-color: var(--app-base, $base-green);
      }
    }
  }
}

.disabled {
  border-color: $gray !important;
  color: $gray !important;
  cursor: default !important;
}
