@import "@/assets/styles/variables";

// components/InsuranceHeader/InsuranceHeader.module.scss
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

.headerTop {
  padding: 7px 20px 7px 10px;
  background: $base-green;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lefSideHeader {
  display: flex;
  align-items: center;
  gap: 8px;
}
.headerButtonContainer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  border-radius: radius(3);

  button {
    flex-direction: row;
    background-color: #fff;
    margin: 0 0 0 space(2);
    border: unset;
    border-radius: radius(3);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    color: black;
    gap: 5px;

    &:first-of-type {
      margin: 0;
    }

    &:active,
    &:focus {
      outline: none;
    }

    img,
    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.headerButton {
  width: 45px;
}

.backBtn,
.favoriteBtn {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  width: 45px;
  height: 45px;
  border-radius: 8px;
  background: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;

  svg {
    color: #333;
    width: 30px;
    height: 30px;
  }

  &:active {
    transform: scale(0.95);
  }
}

.title {
  color: white;
  font-weight: 900;
  margin: 0;
}

.loading {
  opacity: 0.6;
  pointer-events: none;
}
