@import '@/assets/styles/functions';
@import '@/assets/styles/variables';

.productTabs {
  &Controller {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &Content {
    background-color: #fff;
    border-radius: radius(3);
    padding: space(6);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    margin-bottom: space(5);

    &Section {
      margin-bottom: space(8);
    }
  }
}

@media (max-width: 768px) {
  .productTabs {
    &Content {
      &Section {
        [class^="col-"] {
          margin-bottom: space(3);
        }
      }
    }
  }
}