@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.UserPlanItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0.5rem;
  background: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: white;
  width: 100%;
  p {
    color: var(--app-base, $base-green);
    text-align: center;
    font-weight: 700;
    font-size: small;
    width: 100%;
    margin: 0;
  }
}
