@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.budgetingRecordWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;

  h3 {
    width: 100%;
    background-color: $purple;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 5px;
    font-size: larger;
    font-weight: 700;

    svg {
      fill: #fff;
      width: 25px;
      height: 25px;
    }
  }
}

.percentageBars {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}
