@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.examRecordWrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  margin: auto;

  > h3 {
    width: 100%;
    text-align: center;
    background-color: $purple;
    color: #fff;
    padding: 10px;
  }
}

.tableWrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: auto;
  overflow: auto;

  table {
    border: 1px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: center;

    th {
      border: 1px solid #dededf;
      background-color: $purple;
      color: #fff;
      padding: 5px;
    }

    td {
      border: 1px solid #dededf;
      background-color: #ffffff;
      color: #000000;
      padding: 5px;
      direction: ltr;
    }
  }
}

.percentageBars {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}

.percentageBarWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  .green {
    --percentage_bar_color: #{$base-green};
  }
  .yellow {
    --percentage_bar_color: #{$yellow};
  }
  .red {
    --percentage_bar_color: #{$red};
  }
  --percentage_bar_color: #{$purple};
}
.percentageBarTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  font-weight: 600;
  font-size: small;
}

.percentageBar {
  width: 100%;
  height: 10px;
  border: 1px solid var(--percentage_bar_color);
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--percentage_bar_color);
  position: relative;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
}
