@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.productTabsController {
  // position: sticky;
  top: 0;
  width: 100%;
  transition: 0.2s;
  z-index: 200;
  user-select: none;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0;

    li {
      margin-left: space(4);
      line-height: 30px;
      flex: 1;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      padding: 0 space(3);
      padding-bottom: 7px;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */

      a {
        color: #000;
      }

      &:before {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        height: 6px;
        border-radius: 3px;
        background-color: transparent;
      }

      &.active {
        font-weight: 700;
        &:before {
          background-color: $darkBlue;
        }
      }

      &:last-of-type {
        margin-left: unset;
      }
    }
  }
}

@media (max-width: 768px) {
  .productTabsController {
    top: 154px;
  }
}
