@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.sidePanelClubHistoryItemBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  span {
    font-weight: 500;
    &:first-of-type {
      margin-left: auto;
    }
  }
  &Red {
    color: #ff0000;
  }
  &Green {
    fill: $base-green;
    color: $base-green;

    svg {
      transform: rotate(180deg);
    }
  }
}

.sidePanelClubHistoryItem {
  background-color: #ffff;
  border-radius: space(1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: space(2);
  padding: space(2) space(3);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &:last-of-type {
    margin-bottom: unset;
  }

  &Title {
    color: black;
    font-weight: 500;
    font-size: larger;
    padding-left: 50px;
  }

  &CreatedAt {
    color: $gray;
  }

  &BadgeContainer {
    position: absolute;
    left: 10px;
    top: 7px;
    color: $base-green;
    font-size: larger;
  }
}

.sidePanelClubHistoryContainer {
  padding: 0;
}
