@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.banners {
  padding: space(10) 0;

  &Item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    &Full {
      img {
        border-radius: 15px;
      }
    }
    img {
      width: 100%;
      height: auto;
    }

    > a {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      position: relative;
      color: $main_text;
    }
    span {
      margin-top: space(3);
      font-size: 12px;
      font-weight: 500;
    }
  }
  &PropertyItem {
    .bannersItem {
      img {
        flex: 0 0 60%;
        max-width: 60%;
      }
      span {
        font-size: 13px;
        font-weight: 800;
      }
    }
  }
}

@media (max-width: 992px) {
  .banners {
    [class*="col-"] {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 768px) {
  .banners {
    padding: 0;
    &Item {
      margin-bottom: space(4);
    }
  }
}
@media (max-width: 576px) {
  .banners {
    &Item {
      margin-bottom: unset;
      a {
        display: block;
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          border-radius: space(2);
        }
      }
      > img {
        width: 100%;
      }
    }
  }
}
