@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.orderDetail {
  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  padding: space(5);
  padding-top: space(12);
  padding-bottom: space(7);
  background-color: #fff;
  border-radius: radius(6);
  display: flex;
  flex-direction: column;
  position: relative;

  &Header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: space(2);
    margin-bottom: space(5);
    border: 2px solid $base-green;
    border-radius: 10px;
    padding: space(2) space(3);

    > div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: space(1);
      span {
        font-size: 12px;
        font-weight: 500;
        color: black;
        &:first-child {
          color: $gray;
        }
      }
    }

    &Lable {
      color: $gray;
    }
  }

  &Button {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    min-width: 150px;
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 35vh;
    overflow-y: auto;
  }

  &TotalPrice {
    display: flex;
    align-items: center;
    span {
      margin-left: space(2);
      font-size: 13px;
      font-weight: 500;
      margin-left: auto;
    }
  }

  &Logo {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #fff;

    svg {
      width: 45px;
      height: auto;
    }
  }
}

@media (max-width: 576px) {
  .orderDetail {
    width: 320px;
  }
}
