@import '@/assets/styles/functions';

.mainBanner {
    height: 175px;
    border-radius: radius(5);
    margin-bottom: space(7.5);
    position: relative;
    &:last-of-type {
        margin-bottom: unset;
    }
    a {
        height: 100%;
        display: block;
    }

    img {
        border-radius: radius(5);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 992px) {
    .mainBanner {
        display: none
    }
}