@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.container {
  width: 100%;
  direction: rtl;
  padding-bottom: 80px;
}

.courseHeader {
  background-color: #f5f5f5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 55px;
  z-index: 100;
  padding-top: 10px;
}

.videoWrapper {
  width: 100%;
  height: 250px;
}

.course-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 15px 0;

  img {
    border: 1px solid $red;
    border-radius: 8px;
    width: auto;
    height: 100%;
    object-fit: cover;
    width: 100px;
    height: 44px;
  }

  h1 {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0;
    border-radius: 8px;
    color: #fff;
    background-color: #ff0000;
    flex: 1;
    text-align: center;
    margin: 0;
    margin-right: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  }
}

.purchaseBar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: auto;
  right: auto;
  padding: 16px;
  background: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  width: 100vw;
  max-width: 800px;
  margin: 0 auto;

  :focus{
    color: #fff;
  }
}

.purchaseButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
  background: $button-bg-red;

  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);

  

  .priceOff {
    text-decoration: line-through;
  }

  > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > div {
    display: flex;
    flex-direction: column;
    line-height: 13px;
  }

}

.loadingWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}