@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.questionInfoModal {
  h3 {
    width: 100%;
    text-align: center;
    color: $purple;
    font-size: 17px;
    font-weight: 800;
    margin-bottom: 21px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 10px;
    li {
      padding-right: 14px;
      font-size: 15px;
      font-weight: 500;
      &::marker {
        content: "✔";
      }
    }
  }
}
