@import "src/assets/styles/keyframes";
@import "src/assets/styles/variables";

.favoriteFillIcon {
  fill: var(--app-base, $base-green) !important;
  color: var(--app-base, $base-green) !important;
  svg {
    fill: var(--app-base, $base-green) !important;
    color: var(--app-base, $base-green) !important;
  }
}
