@import "@/assets/styles/variables";

.button{
    margin-top: 10px;
    width: 100%;
    background: $proGreen;
    border-radius: 12px;
    color: white;
    border: none;
    height: 45px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}