@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.providerHeaderWrapper {
  > div:last-child {
    padding: 0;
  }
}

.ProviderHeader {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  padding: 0 10px;

  img {
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000078;
    background-color: white;
  }

  h3 {
    color: white;
    font-size: 15px;
  }
  h3:last-child {
    color: $darkBlue;
    margin-top: 10px;
  }
}

.providerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  min-width: 0;
}

.providerInfo h3 {
  white-space: normal;
  word-break: normal;
  overflow-wrap: break-word;
  max-width: 100%;
  margin: 0;
  line-height: 1.2;
  min-height: calc(2 * 1.2em);
  align-items: center;
  min-width: 0;
}
.blueBackground {
  background: $button-bg-darkBlue;
  top: -1px;
  right: 0;
  width: 100vw;
  max-width: 800px;
  height: 50%;
  position: absolute;
  z-index: -1;
}

.tabsContainer {
  background-color: #e0e0e0;
  margin-top: 15px;
  ul li {
    line-height: 40px;
  }
}

.pageDescription {
  width: 100%;
  padding: 15px;

  > div {
    font-size: 16px;
  }
}
