@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 8px 5px;
  background-color: #ffffff;
  margin-bottom: 12px;
  transition: all 0.2s ease;
  direction: rtl;
  cursor: default;
  position: relative;

  &.active {
    border: 2px solid $base-green; // Lime green matches image
  }

  > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }

  > button {
    padding: 4px 6px;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
  }
}

.iconWrapper {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  position: relative;
  margin-left: 10px; /* Gap between icon and text */
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 0.85rem;
  font-weight: 700;
  color: #4b5563;
  margin-bottom: 4px;
  padding-left: 60px;
}

.description {
  font-size: 0.775rem;
  color: #9ca3af;
  line-height: 1.4;
}

.badge {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbd5e1; // Light gray default
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.65rem;
  font-weight: 600;
  min-width: 60px; /* Ensure badgets look uniform */
  position: absolute;
  top: 5px;
  left: 7px;

  &.active {
    background-color: $base-green;
  }
}
