@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.mainSlider {
  margin: 5px 0;
  margin-bottom: 15px;
  border-radius: radius(5);
  box-shadow: $card-box-shadow;

  div {
    background-color: transparent;
  }

  &Item {
    border-radius: radius(5);

    height: 400px;

    a {
      display: block;
      height: 100%;
    }

    img {
      width: 100%;
      border-radius: radius(5);
      height: 100%;
      object-fit: cover;
    }
  }

  :global {
    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      border: 2px solid $red;
      background-color: #fff;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: $red;
      }
    }
  }
}

@media (max-width: 768px) {
  .mainSlider {
    &Item {
      height: 50vw;
    }
  }
}
