@import '@/assets/styles/functions';

.companies {
  

  :global {
    .swiper {
      &-slide {
        width: 120px;
      }
    }
  }

  &Item {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(1);
    opacity: 0.6;
    transition: 0.2s;
    aspect-ratio: 16/9;
    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .companies {
    margin-bottom: space(4);
    &Item {
      height: 60px;
    }
  }
}
