@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.paymentMethodsWrapper {
  background-color: $body-bg;
  // padding: space(6);
  &.pro {
  --app-base: #{$proGreen};
}}

.paymentMethodsList {
  display: flex;
  flex-direction: column;
  gap: space(2);
}

.paymentMethodItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  position: relative;
  border: 2px solid $lightGray;
  border-radius: 10px;
  padding: space(2);
  cursor: pointer;
  min-height: 70px;

  img {
    background-color: $lightGray;
    border-radius: 14px;
  }
  > img,
  > svg {
    width: 40px;
    height: 40px;
  }
  .infoWrapper {
    display: flex;
    flex-direction: column;
    font-size: small;
    flex: 1;

    span:first-of-type {
      font-weight: 600;
      padding-left: 20px;
    }
    span:last-of-type {
      color: $gray;
      white-space: break-spaces;
      font-size: 12px;
    }
  }

  .moreInfo {
    position: absolute;
    top: 5px;
    left: 5px;
    color: $gray;
  }
}

.paymentMethodItem_active {
  border-color: var(--app-base, $base-green);
}

.paymentMethodItem_disabled {
  background-color: $lightGray;
  cursor: not-allowed;
  .moreInfo {
    color: rgb(90, 90, 90);
  }
}

@media (max-width: 425px) {
  .paymentMethodItem {
    > img {
      border-radius: 10px;
    }
    > img,
    > svg {
      width: 32px;
      height: 32px;
    }
  }
}
