@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.singleItemSidePanel {
  button {
    font-size: 11px;
  }
  .singleItemPriceWrapper {
    .installmentPayment {
      font-size: 10px;
    }
  }
}

.singleItem {
  display: flex;
  flex-direction: column;
  border: 1.5px solid $lightGray;
  padding: 10px;
  gap: 10px;
  box-shadow: none;
  position: relative;
  background-color: white;

  .favoriteButton {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  > div:first-child {
    justify-content: flex-start;
  }

  button {
    flex: none;
    font-size: 12px;
  }
  img {
    border-radius: 15px;
    height: 100px;
    width: auto;
    aspect-ratio: 1/1;
  }
  .noImage {
    background: white;
    border: 1px solid $lightGray;
    padding: 12px;
  }

  &Price {
    font-size: 14px;
    color: $purple;
  }
  &PriceWrapper {
    display: flex;
    flex-direction: column;
  }

  &Description {
    display: flex;
    flex-direction: column;
    gap: 3px;
    span {
      color: $gray;
      font-weight: 400;
    }

    h3 {
      font-weight: 700;
      font-size: 15px;
      padding-left: 50px;
    }
  }
}

.singleItemAccessButtons {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;

  button {
    flex: none;
    min-width: 80px;
    a {
      color: white;
    }
  }
}

@media (max-width: 768px) {
  .singleItem,
  .singleItemSidePanel {
    button {
      font-size: 10px;
    }
    .singleItemPriceWrapper {
      .installmentPayment {
        font-size: 10px;
      }
    }
  }
}
