.filterNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  font-size: 1.2rem;
  color: rgb(0, 0, 0, 0.6);
  gap: 10px;
  text-align: center;
}
