@import '@/assets/styles/variables';
@import '@/assets/styles/functions';

.header {
  position: sticky;
  top: 0;
  right: $sidebar-collapse-width;
  background-color: $header-bg;
  z-index: 700;
}

@media (max-width: 768px) {
  .header {
    padding-top: space(2);
  }
}
