@import '@/assets/styles/functions';
@import '@/assets/styles/variables';

.sidePanelClubSingle {
  &Header {
    display: flex;
    align-items: center;
    position: relative;
    padding: space(4) space(3);
    background-color: #fff;

    &:before {
      content: '';
      height: 45%;
      top: 0;
      right: 0;
      left: 0;
      position: absolute;
      z-index: 1;
      background: linear-gradient(to right, #00db00, #00bc00);
    }
    &Image {
      width: 90px;
      height: 90px;
      flex: 0 0 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: radius(4);
      position: relative;
      z-index: 2;
      background-color: #fff;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      border: 2px solid #fff;

      img {
        border-radius: radius(4);
        max-width: 100%;
        max-height: 100%;
      }
    }
    &Content {
      flex: 0 0 calc(100% - 90px);
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      padding-right: space(3);

      span {
        line-height: 20px;

        &:first-of-type {
          font-weight: 600;
          font-size: 18px;
          color: #fff;
          margin-bottom: 8px;
        }

        &:nth-last-of-type(2) {
          font-weight: 700;
          font-size: 18px;
          color: #00bc00;
          margin-top: 13px;
        }
        &:last-child {
          color: #bababa;
        }
      }
    }
  }
  &Body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: space(1) space(4) space(4);
    padding: space(4);
    border-radius: space(2);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
    height: 100vh;
  }
  &Footer {
    button {
      border: unset;
      line-height: 40px;
      height: 40px;
      background-color: #00bc00;
      color: #fff;
      text-align: center;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
