@import "@/assets/styles/functions";
@import "@/assets/styles/variables";

.shipping {
  background-color: #fff;
  border-radius: radius(3);
  padding: space(6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  height: 100%;
  position: relative;

  .loading {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 0);
  }
  &Title {
    display: flex;
    margin-bottom: space(2);
    padding-bottom: space(2);
    border-bottom: 1px solid $gray;
    line-height: 26px;

    span {
      margin-left: auto;
      font-weight: 800;
      font-size: 14px;
    }
    small {
      font-size: 13px;
      font-weight: 600;
      color: #fff;
      padding: 0 space(3);
      background: var(--button-bg, $base-green);
      border-radius: radius(2);
      cursor: pointer;
    }
  }
  &EmptyAddress {
    margin: space(4) 0;
    text-align: center;
    button {
      background: var(--button-bg, $base-green);
      border: unset;
      line-height: 35px;
      height: 35px;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
      border-radius: radius(3);
      padding: 0 space(6);
      position: relative;
      text-align: center;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    }
  }
  &Detail {
    margin-bottom: space(4);
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: flex;
        line-height: 28px;
        position: relative;
        padding-right: 15px;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: radius(1);
          background-color: var(--button-bg, $base-green);
          position: absolute;
          right: 0;
          top: calc(50% - 5px);
        }
        span {
          &:nth-of-type(even) {
            margin-left: space(1);
          }
          &:nth-of-type(odd) {
            color: $gray;
            margin-left: space(1);
          }
          &:last-of-type {
            margin-left: unset;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .shipping {
    height: auto;
  }
}
